body {
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:18px;
    background:#FFFFFF;
}
a {
    color:#287DB5;
    text-decoration:none;
    font-weight:bold;
}

a:hover {
    text-decoration:underline;
    color:#56A5EC;
}
#header {
   
   width: 100%;
   padding:0;
}
#header-content {
    width:95%;
    margin:0 auto;
    text-align:left;
    clear:both;
    margin-top: 10px;
}

#logo {
    width:190px;
    font-size:30px;
    margin-top:0px;
    float:left;
}

#logo a,
#logo a:hover {
    border:none;
    text-decoration:none;
    color:#287DB5;
}

#logo p {
    font-size:14px;
    color:#666666;
}

#logo img {
	width:200px;
	border:none;
}

#container_panel {
    width:960px;
    overflow:hidden;
    margin:0 auto;
    background:#FFFFFF;
    margin-top:10px;
}
#main {
    padding:0;
    margin:10px;
    clear:both;
}
#footer {
    width: 100%;
   text-align:center;
   padding:10px 0;
   clear:both;
   background:#F5F5F5;
}
#footer-content {
	width:960px;
	margin:0 auto;
}
.box_categories {
	width: 128px; height: 150px; margin-top: -10px; float: left;
}

#top-panel {
	margin-left:200px;
}

#top-menu {
    margin:0 0 10px 0;
    float:right;
}

/** 
 * Top horizontal menu 
 */

.top-hori-menu {
    font-family:Arial;
    width:100%;
    text-align:left;
}
.top-hori-menu ul {
    font-weight:normal;
    margin:0;
    padding:0;
    padding-top:5px;
    color:#000000;
}
.top-hori-menu  li, 
.top-hori-menu li span {
    display:inline;
    text-decoration:none;
    text-align:center;
    list-style:none;
}
.top-hori-menu li a {
    font-family:Arial, Helvetica, sans-serif;
    color:#56A5EC;
    text-decoration:none;
    padding:5px;
    font-size:13px;
}
.top-hori-menu li a:hover {
   color:#2E6AB1;
}
button.btn, a.btn{margin-left: 5px;}

