<link rel="stylesheet" type="text/css" href="../../ext/resources/css/ext-all.css" />
<script type="text/javascript" src="../../ext/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="../../ext/ext-all.js"></script>    
<script type="text/javascript" src="../../js/utilities/screen_manipulate.js"></script>
<script language="javascript" src="../../js/progress_bar.js"></script>

<script type="text/javascript">
	
	Ext.onReady(function(){
		
		var tabs = new Ext.TabPanel({
			region: 'center',
			renderTo: 'tabs',
			activeTab: <?=$tab_id?>,
			autoResize: true,
			autoWidth:true,	
			items:[{		
					title: 'Customer Info',
					html:'<iframe id="cust_info" src="../controllers/customer_info_c.php?tab=0&cust_id=<?=$cust_id?>&acc_id=<?=$acc_id?>&search_by=<?=$search_by?>&status=<?=$status?>" width="100%" height="100%" frameborder="0" style="border:0px none;"></iframe>',
					listeners: {activate: LoadCustomerInfoToPanel}

				},{					

					title: 'Customer Contact',
					html:'<iframe id="cont_info" src="../controllers/contact_info_c.php?tab=1&cust_id=<?=$cust_id?>&acc_id=<?=$acc_id?>&search_by=<?=$search_by?>&status=<?=$status?>" width="100%" height="100%" frameborder="0" scrolling="auto" style="border:0px none;"></iframe>',
					listeners: {activate: LoadCustContactToPanel}
				},{									

					title: 'Account',
					selected: true,
					html:'<iframe id="my_tabs_acc" src="account_c.php?tab=2&cust_id=<?=$cust_id?>&acc_id=<?=$acc_id?>&search_by=<?=$search_by?>&status=<?=$status?>" width="100%" height="100%" frameborder="0" scrolling="auto" style="border:0px none;"></iframe>',
					listeners: {activate: LoadAccToPanel}

				}				

				<?=$i?>				

				,{				
					title: 'Finance',
					selected: true,
					html:'<iframe id="my_tabs_finance" src="account_management_finance_c.php?tab=3&cust_id=<?=$cust_id?>&acc_id=<?=$acc_id?>" width="100%" height="100%" frameborder="0" scrolling="auto" style="border:0px none;"></iframe>',
					listeners: {activate: LoadCustomerFinancePanel}

				},{				

					title: 'Usage',
					disabled:false,
					selected: true,
					html:'<iframe id="my_tabs_usage" src="usage_c.php?tab=4&cust_id=<?=$cust_id?>&acc_id=<?=$acc_id?>" width="100%" height="100%" frameborder="0" scrolling="auto" style="border:0px none;"></iframe>',
					listeners: {activate: LoadUsagePanel}

				},{
					title: 'Performance',
					disabled:false,
					selected: true,
					html:'<iframe id="my_tabs_performance" src="performance_c.php?tab=7&cust_id=<?=$cust_id?>" width="100%" height="100%" frameborder="0" scrolling="auto" style="border:0px none;"></iframe>',
					listeners: {activate: LoadUsagePerformance}
				},{
					title: 'Account Receivable',
					disabled:false,
					selected: true,
					html:'<iframe id="my_tabs_ar" src="account_receivable_c.php?tab=8&cust_id=<?=$cust_id?>" width="100%" height="100%" frameborder="0" scrolling="auto" style="border:0px none;"></iframe>',
					listeners: {activate: AccountReceivable}
				},{	
					title: 'Audit Trial',
					selected: true,
					html:'<iframe id="my_tabs_audit" src="audit_trial_c.php?tab=5&cust_id=<?=$cust_id?>&acc_id=<?=$acc_id?>" width="100%" height="100%" frameborder="0" scrolling="auto" style="border:0px none;"></iframe>',
					listeners: {activate: LoadAuditToPanel}
				}

			]
		});	
		function LoadAccToPanel(){
			
			acc_loading = onLoading('Account Management','Loading Data...');
			
			var url = '../controllers/account_c.php?tab=2&cust_id=<?=$cust_id?>&acc_id=<?=$acc_id?>&search_by=<?=$search_by?>&status=<?=$status?>';
			
			Ext.get('my_tabs_acc').dom.src = url;
				
			acc_loading.hide();
		
		}
		function LoadCustomerInfoToPanel(){
			
			cust_loading = onLoading('Customer Info','Loading Data...');
			var url = '../controllers/customer_info_c.php?tab=0&cust_id=<?=$cust_id?>&acc_id=<?=$acc_id?>&search_by=<?=$search_by?>&status=<?=$status?>';
			Ext.get('cust_info').dom.src = url;
			
			Ext.Ajax.request({
						url : url ,
						method: 'GET',
						success: function(re){
							cust_loading.hide();
						}
			});
			
		}
		function LoadCustContactToPanel(){
			cont_loading = onLoading('Contact Info','Loading Data...');
			var url = '../controllers/contact_info_c.php?tab=1&cust_id=<?=$cust_id?>&acc_id=<?=$acc_id?>&search_by=<?=$search_by?>&status=<?=$status?>';
			Ext.get('cont_info').dom.src = url;
			
			Ext.Ajax.request({
						url : url ,
						method: 'GET',
						success: function(re){
							cont_loading.hide();
						}
			});
			
		}
		function LoadAuditToPanel(){
		
			audit_loading = onLoading('Audit Trial','Loading Data...');
			var url = 'audit_trial_c.php?tab=5&cust_id=<?=$cust_id?>&acc_id=<?=$acc_id?>&search_by=<?=$search_by?>&status=<?=$status?>';
			Ext.get('my_tabs_audit').dom.src = url;
			
			Ext.Ajax.request({
						url : url ,
						method: 'GET',
						success: function(re){
							audit_loading.hide();
						}
			});
					
		}

        function LoadCustomerFinancePanel(){
        	
			fin_loading = onLoading('Finance Management','Loading Data...');
			var url = 'account_management_finance_c.php?tab=3&cust_id=<?=$cust_id?>&acc_id=<?=$acc_id?>&search_by=<?=$search_by?>&status=<?=$status?>&mt='+new Date().getTime();
			Ext.get('my_tabs_finance').dom.src = url;
			
			Ext.Ajax.request({
						url : url ,
						method: 'GET',
						success: function(re){
							fin_loading.hide();
						}
			});
        }
		function LoadUsagePanel(){
        
			usage_loading = onLoading('Usage Info','Loading Data...');
			var url =  'usage_c.php?tab=4&cust_id=<?=$cust_id?>&acc_id=<?=$acc_id?>&search_by=<?=$search_by?>&status=<?=$status?>&mt='+new Date().getTime();
			Ext.get('my_tabs_usage').dom.src = url;
			
			Ext.Ajax.request({
						url : url ,
						method: 'GET',
						success: function(re){
							usage_loading.hide();
						}
			});
			
       }	

		function LoadConsignmentPanel(){
        	
			con_loading = onLoading('Consignemtn Info','Loading Data...');
			var url =  'consignment_c.php?tab=6&cust_id=<?=$cust_id?>&search_by=<?=$search_by?>&status=<?=$status?>';
			Ext.get('my_tabs_consignment').dom.src = url;
			
			Ext.Ajax.request({
						url : url ,
						method: 'GET',
						success: function(re){
							con_loading.hide();
						}
			});
			
        }
		function AccountReceivable(){

			ar_loading = onLoading('Account Receivable Info','Loading Data...');
			var url =  'account_receivable_c.php?tab=8&cust_id=<?=$cust_id?>&search_by=<?=$search_by?>&status=<?=$status?>';
			Ext.get('my_tabs_ar').dom.src = url;
			
			Ext.Ajax.request({
						url : url ,
						method: 'GET',
						success: function(re){
							ar_loading.hide();
						}
			});
        }
		function LoadUsagePerformance(){
			<?php
						if(isset($_REQUEST['user_name'])){
							$user_name = $_REQUEST['user_name'];
						}else {
							$user_name = '';
						}
			?>
			per_loading = onLoading('Account Receivable Info','Loading Data...');
			var url =  'performance_c.php?tab=7&cust_id=<?=$cust_id?>&user_name=<?=$user_name?>';
			Ext.get('my_tabs_performance').dom.src = url;
			
			Ext.Ajax.request({
						url : url ,
						method: 'GET',
						success: function(re){
							per_loading.hide();
						}
			});
			
		}	
		var viewport = new Ext.Viewport({
			layout:'border',
			items:[tabs]
		});	

	});

</script>



<div id="tabs" style="height:400px;width:100%">
</div>